
.card {
    margin: 50px auto 300px auto;
    height: 750px;
    width: 600px;
  }

  .title {
    line-height: 2;
  }
  .date {
    line-height: 3;
    font-size: 18px;
    }
  .textContent {
    height: 120px;
    width: 540px;
    margin: 20px;
    font-size: 18px;
    line-height: 2;
  }
  .list {
    list-style: 'none';
  }
  .textLine {
    display: block;
   display: flex;
   justify-content: space-between;
   line-height: 2.5;
  }
  .textLine :hover {
      color: orange;
      }

