.AgentList-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px -5px;
    float: right;
}

.AgentList-with-detail {
    width: calc(100% - 400px);
}