.AgentItem {
    border-radius: 3px;
    width: 130px;
    margin: 10px 5px;
    padding: 10px 5px;
    word-wrap: break-word;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;
}

.AgentItem hr {
    margin: 3px 40px;
    border-color: rgba(255, 255, 255, 0.6);
}

.AgentItem-secure {
    background-color: green;
}

.AgentItem-secure:hover {
    background-color: rgb(39, 155, 39);
}

.AgentItem-not-secure {
    background-color: rgb(179, 1, 1);
}

.AgentItem-not-secure:hover {
    background-color: rgb(209, 31, 31);
}